# This is a basic workflow to help you get started with Actions

name: Linux build

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          token: ${{ github.token }}
      
      - name: Install dependencies
        run: sudo apt install python3-pyaudio ; pip install -r requirements.txt ; pip install pyinstaller
      
      - name: Build
        run: pyinstaller --onefile main.spec
      
      - name: Git Release
        # You may pin to the exact commit or the version.
        # uses: anton-yurchenko/git-release@aca5d54f34fd7fee889f093b67161bc7b9611d81
        uses: anton-yurchenko/git-release@v3.4.3
        env:
          GITHUB_TOKEN: ${{ github.token }}
          DRAFT_RELEASE: "true"
          PRE_RELEASE: "false"
          CHANGELOG_FILE: "CHANGELOG.md"
          ALLOW_EMPTY_CHANGELOG: "true"
          ALLOW_TAG_PREFIX: "false"
        with:
          # Release Assets
          args: |
            "dist/main/Global P2T"
