# This is a basic workflow to help you get started with Actions

name: Windows build

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          token: ${{ github.token }}
      
      - name: Install dependencies
        run: pip install -r requirements.txt ; pip install pipwin pyinstaller ; pipwin install pyaudio
      
      - name: Build
        run: pyinstaller --onefile main.spec

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "dist/main/Global P2T"
          bodyFile: "CHANGELOG.md"
          token: ${{ github.token }}
          name: "Version X.X"
          tag: "vX.X"
